.no-drag {-webkit-app-region: no-drag;}

html, body, #app { width: 100%; padding: 0;margin: 0;background-color: rgba(0, 0, 0, 0); overflow: hidden;}

body {perspective: 800px;-webkit-app-region: drag;-webkit-user-select: none;}

input[type="submit"], input[type="reset"], input[type="button"], input[type="text"], button, textarea {-webkit-app-region: no-drag;}

.el-textarea { -webkit-user-select: text; }

.el-textarea .el-loading-mask {background-color: #f6f6f670;border-top-left-radius: 8px;border-top-right-radius: 8px;}

.el-textarea, .el-textarea__inner {border-radius: 8px;}

.el-textarea__inner {box-shadow: none;background-color: #F6F6F6;}

.el-textarea__inner:hover {box-shadow: none;}

.el-textarea__inner:focus {box-shadow: none;}

.el-textarea .el-input__count { background-color: #F6F6F6; bottom: -27px; right: 20px; }

.el-select .el-input.is-focus .el-input__wrapper, .el-select .el-input__wrapper.is-focus {box-shadow: none !important;}

.el-select .el-input__wrapper {background-color: #F6F6F6 !important;border-radius: unset !important;box-shadow: none !important;}

.btn {
	padding: 5px; border-radius: 8px;display: flex; align-items: center;
	
	svg {font-size: 20px; color: #2F2F2F;}
	
	& + & { margin-left: 5px; }
	
	&:hover {background: #E9E9E9;}
	
	&:active {background: #D9D9D9;}
	
	&.active svg {color: #007aff;}
}

.input-box {
	width: calc(100% - 20px); margin: 5px 10px 5px 10px; border-radius: 8px; background: #F6F6F6;
	
	& + & {margin-top: 8px;}
	
	&:last-child {margin-bottom: 10px;}
	
	.header {
		height: 30px;line-height: 30px;display: flex;align-items: center;justify-content: space-between;font-size: 14px;
		color: #262626;background: #f1f1f1;border-top-left-radius: 8px;border-top-right-radius: 8px; cursor: pointer;
		
		.left {
			margin-left: 11px;display: flex; align-items: center;
			
			img {margin-right: 8px; width: 15px; height: 15px;}
		}
	}
	
	.context {
		background: rgb(246, 246, 246);min-height: 20px;line-height: 20px;padding: 5px 0 5px 11px;
		border-radius: 8px;overflow-y: auto;font-size: 14px;color: #2f2f2f;-webkit-user-select: text;
		
		.text {padding-right: 10px; overflow-x: hidden;}
		
		.word {
			.text {font-size: 15px; margin: 5px 0 10px;font-weight: bold;display: flex; align-items: center;}
			
			.phonetic {display: flex; align-items: center; margin-bottom: 5px;}
			
			.explains {
				display: flex; align-items: start; font-size: 13px;margin-bottom: 5px; padding-right: 10px;
				
				.prefix {color: #A7A6A6;margin-right: 5px;min-width: 15px;max-width: 50px;}
			}
			
			.wfs {
				display: flex; align-items: center; font-size: 13px;
				
				.value {color: #3888EC; font-size: 14px;margin-left: 10px; cursor: pointer;}
			}
		}
	}
	
	.bottom-ext { display: flex; align-items: center; margin: 5px 5px 5px 6px; }
	
	.language { color: #ADADAD;font-size: 12px;margin-left: 10px;padding: 3px 10px;border-radius: 20px;background-color: #EAEAEA; }
	
	mark { margin-left: 2px;color: #3888EC; background: #EAEAEA; }
}

.language-box { width: calc(100% - 20px); margin: 8px 10px; border-radius: 8px; background: #F6F6F6;display: flex; justify-content: space-evenly; align-items: center; }

.card {-webkit-transition: -webkit-transform .6s ease-in-out;transition: transform .6s ease-in-out;-webkit-transform-style: preserve-3d;transform-style: preserve-3d;border-radius: 10px;}

.shadow {
	box-shadow: 0 0 15px 5px #dddddd;margin: 20px;border-radius: 10px;border: 1px solid #D9D9D9;background-color: #FFF;
	
	.tools {display: flex; justify-content: space-between; align-items: center; margin: 5px 10px 0 10px;}
}

.select {
	padding: 5px; display: flex; align-items: center; color: #2F2F2F; cursor: pointer; font-size: 14px;
	
	&:hover {text-decoration: underline}
	
	svg {transition: transform .2s;margin-left: 5px;}
}

svg.is-reverse {transform: rotate(-180deg);}

.volume {margin-left: 5px; font-size: 20px;cursor: pointer;}
